include ./../../template/mixin.jade

+extends('template/index')

+section('Title')
    !='Atemporale Design para Inovar Móveis'

+section('MetaDescription')
    meta(name="description", content="Estratégia de Design desnvolvida por Atemporale Design para a Marcenaria Inovar Móveis BH")/

+section('MetaKeywords')
    meta(name="keywords", content="Atemporale Design, Projetos, Identidade Visual, Estratégia de comunicação, Marcenaria, Inovar Móveis")/

+section('cssPagina')
    link(rel="stylesheet", href!="{{ asset('css/prog.css') }}", type="text/css")/

+section('content')
    +include('public/home/_partial2_nav')
    .site-wrapper
        .site-body
            +include('public/prog1/_partial')
        +include('public/home/_partial10_footer')

+section('jsPagina')
    script(src!="{{ asset('js/prog.min.js')}}", type="text/javascript")