include ./../../template/mixin.jade

section.section.project-details
    .section-row-container
        .section-row.three-quarters-padding-bottom.project-title
            .container
                .row
                    .col-md-12
                        h1.page-title.text-center
                            ='Moon Girl'
                            small
                                ='Showing images in the most simple way!'
        .section-row.half-padding-top.half-padding-bottom.project-media.shadow-bg
            .media-container
                .container
                    .row
                        .col-md-12
                            .media
                                figure
                                    img(src!="{{asset('')}}")
                                figure
                                    img(src!="{{asset('')}}")
                                figure
                                    img(src!="{{asset('')}}")
                                figure
                                    img(src!="{{asset('')}}")
                                figure
                                    img(src!="{{asset('')}}")
                                figure
                                    img(src!="{{asset('')}}")
                                figure
                                    img(src!="{{asset('')}}")
        .section-row.project-description.half-padding-top.half-padding-bottom
            .container
                .row
                    .col-md-8
                        p
                            ='At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Excepteur sint occaecat cupidatat non proident quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo vulputate aliquam dui.'
                        p
                            ='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo vulputate aliquam dui. Excepteur sint occaecat cupidatat non proident. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.'
                    aside.col-md-4.sidebar.project-sidebar
                        .sidebar-block
                            h4.sidebar-title
                                ='Category'
                            p
                                ='one page, web design, multipurpose, modern'
                        .sidebar-block
                            h4.sidebar-title Client
                            p
                                a.highlight-link(href='http://www.themeforest.net')
                                    ='ThemeForest'
                        .sidebar-block
                            h4.sidebar-title
                                ='What We Did.'
                            ul
                                li
                                    ='Web Design'
                                li
                                    ='One Page Template'
                                li
                                    ='HTML5 & CSS3'
                        .sidebar-block
                            h4.sidebar-title
                                ='View Work'
                            a.highlight-link(href='http://www.themeforest.net')
                                ='http://www.themeforest.net'
