include ./../../template/mixin.jade

.site-loader

section#home.site-splash.fullscreen
    .splash-inner
        .splash-slider
            .splash-content
                .container
                    .row
                        .col-md-12
                            .splash-text
                                h4.splash-intro
                                    a(href="#")
                                        !='Benvenuto ao nosso site!'
                                h1.splash-headline
                                    !='Atemporale <span class="text-primary">Design</span>'
                                .splash-description
                                    p
                                        !='ideias e ações inteligentes que criam novas oportunidades para o seu negócio'
            .splash-content
                .container
                    .row
                        .col-md-12
                            .splash-text
                                h4.splash-intro
                                    a(href="#")
                                        !="Criatividade + Estratégia"
                                h1.splash-headline
                                    !="Made in Italy Digital Excellence"
                                .splash-description
                                    p
                                        !=''
            .splash-content
                .container
                    .row
                        .col-md-12
                            .splash-text
                                h4.splash-intro
                                    a(href="#")
                                        ="Let's Talk Today"
                                h1.splash-headline
                                    ="Have a project? Let's talk"
                                .splash-description
                                    p
                                        ='Every client working with us are always satisfied, we can prove it!'

            .cycle-next
            .cycle-prev

        .splash-media(data-background="demo/img/splash-bg.jpg", data-background-xs="demo/img/splash-bg-xs.jpg",data-background-md="demo/img/splash-bg-md.jpg", data-background-lg="demo/img/splash-bg-lg.jpg")
            .overlay
        .splash-feedback
            span.mouse
                span.fa.fa-angle-down
            span.caption
                ='Scroll'